
h2{
    text-align: center;
}
.allservices{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}
.allservices > div{
    margin: 0 30px;
}

.oneService{
    background-color: rgba(0, 255, 255,0.2);
    border-radius: 5px;
    padding: 20px;
}
h4{
    text-align: center;
}
.service{
    display: flex;
    align-items: center;
    gap: 8px;
    
}