.alltestcontainer{
    width: 50%;
    margin: 0 25%;
}

img{
    height: 120px;
    width: 100px;
    border-radius: 50%;
}


.testcontainer{
    background-color: rgba(0, 255, 255,0.2);
    width: fit-content;
    padding: 25px;
    border-radius: 7px;
}
